/* frontend/src/pages/Auth.css */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.auth-form {
  padding: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Penting agar padding tidak menambah lebar */
}

.auth-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #1877f2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #166fe5;
}

.auth-link {
  margin-top: 20px;
  font-size: 14px;
}

.auth-link a {
  color: #1877f2;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}