/* frontend/src/components/Footer.css */
.app-footer {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: white;
  position: fixed; /* Membuat footer tetap di bawah */
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}